<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/dream.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Project:Dream☆Weaver - Yui Sakano - A Magical Girl!? - We're all hurting</title>
    <!-- InstanceEndEditable -->
    <!-- Bootstrap -->
    <link href="../../../../css/onegai.css" rel="stylesheet">
    <link href="../../../../images/onigirionegai_icon_196.png" rel="icon" sizes="192x192">
    <link href="../../../../images/onigirionegai_icon_144.png" rel="icon" sizes="144x144">
    <link href="../../../../images/onigirionegai_icon_48.png" rel="icon" sizes="48x48">
    <link href="../../../../images/onigirionegai_icon_32.png" rel="icon" sizes="32x32">
    <link href="../../../../images/onigirionegai_icon_16.png" rel="icon" sizes="16x16">
    <meta name="application-name" content="OnigiriOnegai">
    <meta name="theme-color" content="#EC95C8">
    <script src="../../../../js/popper.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/jquery-3.3.1.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/bootstrap-4.3.1.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/vue.min.js" language="javascript" type="text/javascript"></script>
  <!-- InstanceBeginEditable name="head" -->
    <style>
      @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
      html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    body,td,th {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    </style>
  <!-- InstanceEndEditable -->
  <!-- InstanceParam name="Latest" type="boolean" value="false" -->
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-onigiri bg-onigiri">
    <a class="navbar-brand" href="#">Onigiri☆Onegai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="../../../../index.html">News &amp; Info</a></li>
        <li class="nav-item"><a class="nav-link" href="../../../dream-weaver/">Project:Dream☆Weaver</a></li>
        <li class="nav-item"><a class="nav-link" href="//forums.onigirionegai.info">Discussion Forums</a></li>
      </ul>
      <a href="https://www.patreon.com/bePatron?u=29802411" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
  </nav>
  <div class="modal" id="TargetModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Old Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <section id="body"><!-- InstanceBeginEditable name="MainBody" -->
  <div class="container full-width">
    <script src="../../../../js/scene.js" language="javascript"></script>
    <div class="dropdown">
      <h1 title="We're all hurting" class="dropdown-toggle" id="usrMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="#End">Episode 2</a>
      </h1>
      <div id="usrMenu" class="dropdown-menu" aria-labelledby="usrMenuBtn">
        <a v-if="user.username" class="dropdown-item" :href="'//forums.onigirionegai.info/memberlist.php?mode=viewprofile&u='+user.user_id+'&sid='+user.session_id" title="view your profile">Welcome {{ user.username }}!</a>
        <a v-else class="dropdown-item" href="https://forums.onigirionegai.info/ucp.php?mode=login&redirect=/home.php?path=project/dream-weaver">Login</a>
        <section id="UserArea" v-if="user.level<5">
          <a class="dropdown-item" href="//forums.onigirionegai.info/ucp.php">User Control Panel</a>
          <a class="dropdown-item" href="#">Current Progress</a>
        </section>
        <section id="StaffArea" v-if="user.level==1">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/mcp.php?i=main&mode=front&sid='+user.session_id">Moderator Control Panel</a>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/adm/index.php?sid='+user.session_id">Forum Administration</a>
          <a class="dropdown-item" href="//onigirionegai.info/phpmyadmin">VN Database Management</a>
        </section>
        <div class="dropdown-divider"></div>
        <a id="skipBtn" class="dropdown-item" href="#End">Skip</a>
        <a id="logBtn" accesskey="s" class="dropdown-item" href="#">Scene Log</a>
        <section id="Logout" v-if="user.username">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/ucp.php?mode=logout&redirect=/home.php?path=project/dream-weaver\&sid='+user.session_id">Logout</a>
        </section>
      </div>
    <script language="javascript" type="application/javascript">
      var app= new Vue({
        el:'#usrMenu',
        data:{
          user: []
        },
        created(){
          fetch('../../../../php/user.php?action=getname')
          .then(response => response.json())
          .then(json => {
            this.user = json
          });
        }
      });
    </script>
    <div class="row scene">
      <div id="1" class="panel-dk" style="background-image: url('../../images/backgrounds/keyscenes/yui/ch1a2_01.png')">
        <div id="1-1" class="text caption">
          <p id="1-1-1"><span class="name">-Yui-</span><span class="etxt">If mom&#39;s home, tell her I&#39;m going to be late. They&#39;re making me stay.</span></p>
          <p id="1-1-2"><span class="name">-Yui-</span><span class="etxt">Sorry =^^;=</span></p>
          <p id="1-1-3"><span class="name">-Yui's brother-</span><span class="etxt">I&#39;m sorry to hear that. You&#39;re not taking the blame for something you didn&#39;t do again, are you?</span></p>
        </div>
        <div id="1-2" class="text narration">
          <p id="1-2-1">Just as I started to write my reply to my brother a hand reached out and grabbed my phone.</p>
        </div>
      </div>
      <div id="2" class="panel-dk" style="background-image: url('../../images/backgrounds/locations/seven-hearts-classroom.png')">
        <div id="2-1" class="text dialogue">
          <img class="actor left" src="../../images/actors/misc/shg5-neutral_uniform.png" alt="A girl in Yui's class">
          <img class="actor right" src="../../images/actors/girls/yui-angry_sgs.png" alt="Yui is a bit angry in her summer school uniform">
          <p id="2-1-1" class="src-left"><span class="name">Classmate</span>Hey! Who&#39;s oniichan!?</p>
          <p id="2-1-2" class="src-right"><span class="name">Yui</span>M-my brother. Give it back!</p>
          <p id="2-1-3" class="src-left"><span class="name">Classmate</span>You know you&#39;re supposed to be cleaning, not chatting with your boyfriend.</p>
          <p id="2-1-4" class="src-right"><span class="name">Yui</span>It&#39;s really my brother.</p>
          <p id="2-1-5" class="src-left"><span class="name">Classmate</span>I guess that's more likely. Who'd actually like <em>you</em>!?</p>
          <p id="2-1-6" class="src-left"><span class="name">Classmate</span>You know what? I&#39;m just going to hold on to this until you&#39;re done.</p>
        </div>
        <div id="2-2" class="text dialogue">
          <img class="actor left" src="../../images/actors/misc/shg5-neutral_uniform.png" alt="A girl in Yui's class">
          <img class="actor right" src="../../images/actors/girls/yui-angry-tears_sgs.png" alt="Yui is a bit angry, now with 20% more tears, in her summer school uniform">
          <p id="2-2-1" class="src-right"><span class="name">Yui</span>Why are you always picking on me?</p>
          <p id="2-2-2" class="src-left"><span class="name">Classmate</span>Because its fun.</p>
          <p id="2-2-3" class="src-left"><span class="name">Classmate</span>Oh, are you going to cry?</p>
          <p id="2-2-4" class="src-left"><span class="name">Classmate</span>Let's see those tears!</p>
        </div>
        <div id="2-3" class="text narration">
          <p id="2-3-1">The girl held on to my phone and watched me as I spent the rest of the afternoon cleaning a classroom that wasn&#39;t even mine with no help at all.</p>
          <p id="2-3-2">I didn't give her the satisfaction of crying. I just focused on my work.</p>
          <p id="2-3-3">As the sun started going down, she got up and tossed my phone. I managed to catch it.</p>
        </div>
      </div>
      <div id="3" class="panel-lt" style="background-image: url('../../images/backgrounds/heartseeds/yui_cracks.png')">
        <div id="3-1" class="text caption">
          <p id="3-1-1"><span class="name">-Classmate-</span>See you tomorrow, Yui.</p>
        </div>
        <div id="3-2" class="text narration">
          <p id="3-2-1">I checked my phone. She didn&#39;t send anything to my brother. I sighed in relief.</p>
          <p id="3-2-2">Since transferring to Seven Hearts Academy, I was told to never to stay on campus after dark.</p>
          <p id="3-2-3">I hurried to my shoe locker.</p>
          <p id="3-2-4">I prayed no one had done anything to my outdoor shoes.</p>
          <p id="3-2-5">I quickly opened the locker.</p>
          <p id="3-2-6">Everything seemed fine, so I took my outdoor shoes out and slipped my indoor shoes into the locker.</p>
          <p id="3-2-7">Something crawled out of one of my shoes.</p>
          <p id="3-2-8">I screamed.</p>
          <p id="3-2-9">As I took both shoes and beat them against the lockers to make sure nothing else was in them, I quietly wished all of this would just end.</p>
        </div>
      </div>
      <div id="4" class="panel-dk" style="background-image: url('../../images/backgrounds/locations/yui-house-front_evening.png')">
        <div id="4-1" class="text narration">
          <p id="4-1-1">I was happy the school day was finally over, but I couldn&#39;t relax.</p>
          <p id="4-1-2">I hadn&#39;t checked my phone since I got it back, and I hadn&#39;t ever replied to my brother, so I didn&#39;t know if mom was home.</p>
          <p id="4-1-3">If she wasn&#39;t maybe the night wouldn&#39;t be too bad.</p>
          <p id="4-1-4">I could take a bath, change into my pyjamas and go to bed.</p>
          <p id="4-1-5">Maybe, if I was lucky, I wouldn&#39;t even wake up in the morning.</p>
          <p id="4-1-6">Before I even got to the door I could hear yelling.</p>
          <p id="4-1-7">Mom was home.</p>
        </div>
      </div>
      <div id="5" class="panel-dk" style="background-image: url('../../images/backgrounds/keyscenes/yui/ch1a2_02.png')">
        <div id="5-1" class="text caption">
          <p id="5-1-1"><span class="name">-Yui's brother-</span>Do you even know what she goes through at school!?</p>
          <p id="5-1-2"><span class="name">-Yui's brother-</span>Do you even care!?</p>
          <p id="5-1-3"><span class="name">-Yui's mother-</span>How dare you!?</p>
          <p id="5-1-4"><span class="name">-Yui's mother-</span>How dare I what? Tell you your daughter cries herself to sleep every night, or that it&#39;s your fault.</p>
          <p id="5-1-5"><span class="name">-Yui-</span>Stop it!</p>
        </div>
        <div id="5-2" class="text narration">
          <p id="5-2-1">I shouted!</p>
          <p id="5-2-2">I couldn't believe I had shouted.</p>
          <p id="5-2-3">I didn't even know why. Just that I didn't want anyone fighting <em>because</em> of me.</p>
          <p id="5-2-4">...</p>
          <p id="5-2-5">Even though I shouted, no one seemed to hear me...</p>
          <p id="5-2-6">they didn't stop.</p>
        </div>
        <div id="5-3" class="text caption">
          <p id="5-3-1"><span class="name">-Yui's mother-</span>I&#39;m trying my best.</p>
          <p id="5-3-2"><span class="name">-Yui's brother-</span>Your best? How much have you had to drink tonight?</p>
          <p id="5-3-3"><span class="name">-Yui's mother-</span>Shut the hell up!</p>
          <p id="5-3-4"><span class="name">-Yui's brother-</span>Sounds like a plan. Rather than just face the problems we have and talk about them like adults we'll just bury them and they&#39;ll go away!</p>
          <p id="5-3-5"><span class="name">-Yui's brother-</span>Well, guess what?</p>
          <p id="5-3-6"><span class="name">-Yui's brother-</span>Yui is hurting and that hurt isn&#39;t going away!</p>
          <p id="5-3-7"><span class="name">-Yui's mother-</span><em>She&#39;s</em> hurting!?</p>
          <p id="5-3-8"><span class="name">-Yui's mother-</span>Yeah, we lost dad too you know, but, you have a good job, and I&#39;m doing okay at school...</p>
        </div>
        <div id="5-4" class="text narration">
          <p id="5-4-1">On one hand, it felt kind of nice for my brother to be defending me, but...</p>
          <p id="5-4-2">I just couldn't help but think I wasn't really worth that kind of effort.</p>
          <p id="5-4-3">It just made me want to fade away even more.</p>
          <p id="5-4-4">I wrapped my arm around my brother's waist.</p>
        </div>
        <div id="5-5" class="text caption">
          <p id="5-5-1"><span class="name">-Yui-</span>Please stop fighting!</p>
          <p id="5-5-2"><span class="name">-Yui's brother-</span>Yui!?</p>
          <p id="5-5-3"><span class="name">-Yui's mother-</span>Go to your room!</p>
        </div>
      </div>
      <div id="End" class="panel-home" style="background-image: url('../../images/backgrounds/heartseeds/yui_cracks.png')">
        <div class="choice">
          <ul>
            <li>I was surprised that my mom told me to go to my room...</li>
            <li><a href="../../../../php/user.php?action=save&level=episode&id=2&choice=a" class="btn btn-primary">Go upstairs and sulk</a></li>
            <li><a href="../../../../php/user.php?action=save&level=episode&id=2&choice=b" class="btn btn-primary">Push passed them and head outside</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
  </section>
  </body>
<!-- InstanceEnd --></html>