<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/dream.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Project:Dream☆Weaver - Yui Sakano - A Magical Girl!? - Labryinth of Nightmares</title>
    <!-- InstanceEndEditable -->
    <!-- Bootstrap -->
    <link href="../../../../css/onegai.css" rel="stylesheet">
    <link href="../../../../images/onigirionegai_icon_196.png" rel="icon" sizes="192x192">
    <link href="../../../../images/onigirionegai_icon_144.png" rel="icon" sizes="144x144">
    <link href="../../../../images/onigirionegai_icon_48.png" rel="icon" sizes="48x48">
    <link href="../../../../images/onigirionegai_icon_32.png" rel="icon" sizes="32x32">
    <link href="../../../../images/onigirionegai_icon_16.png" rel="icon" sizes="16x16">
    <meta name="application-name" content="OnigiriOnegai">
    <meta name="theme-color" content="#EC95C8">
    <script src="../../../../js/popper.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/jquery-3.3.1.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/bootstrap-4.3.1.js" language="javascript" type="text/javascript"></script>
    <script src="../../../../js/vue.min.js" language="javascript" type="text/javascript"></script>
  <!-- InstanceBeginEditable name="head" -->
    <style>
      @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
      html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    body,td,th {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    </style>
  <!-- InstanceEndEditable -->
  <!-- InstanceParam name="Latest" type="boolean" value="false" -->
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-onigiri bg-onigiri">
    <a class="navbar-brand" href="#">Onigiri☆Onegai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="../../../../index.html">News &amp; Info</a></li>
        <li class="nav-item"><a class="nav-link" href="../../../dream-weaver/">Project:Dream☆Weaver</a></li>
        <li class="nav-item"><a class="nav-link" href="//forums.onigirionegai.info">Discussion Forums</a></li>
      </ul>
      <a href="https://www.patreon.com/bePatron?u=29802411" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
  </nav>
  <div class="modal" id="TargetModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Old Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <section id="body"><!-- InstanceBeginEditable name="MainBody" -->
  <div class="container full-width">
    <script src="../../../../js/scene.js" language="javascript"></script>
    <div class="dropdown">
      <h1 title="Labyrinth of Nightmares" class="dropdown-toggle" id="usrMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="#End">Episode 3</a>
      </h1>
      <div id="usrMenu" class="dropdown-menu" aria-labelledby="usrMenuBtn">
        <a v-if="user.username" class="dropdown-item" :href="'//forums.onigirionegai.info/memberlist.php?mode=viewprofile&u='+user.user_id+'&sid='+user.session_id" title="view your profile">Welcome {{ user.username }}!</a>
        <a v-else class="dropdown-item" href="https://forums.onigirionegai.info/ucp.php?mode=login&redirect=/home.php?path=project/dream-weaver">Login</a>
        <section id="UserArea" v-if="user.level<5">
          <a class="dropdown-item" href="//forums.onigirionegai.info/ucp.php">User Control Panel</a>
          <a class="dropdown-item" href="#">Current Progress</a>
        </section>
        <section id="StaffArea" v-if="user.level==1">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/mcp.php?i=main&mode=front&sid='+user.session_id">Moderator Control Panel</a>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/adm/index.php?sid='+user.session_id">Forum Administration</a>
          <a class="dropdown-item" href="//onigirionegai.info/phpmyadmin">VN Database Management</a>
        </section>
        <div class="dropdown-divider"></div>
        <a id="skipBtn" class="dropdown-item" href="#End">Skip</a>
        <a id="logBtn" accesskey="s" class="dropdown-item" href="#">Scene Log</a>
        <section id="Logout" v-if="user.username">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" :href="'https://forums.onigirionegai.info/ucp.php?mode=logout&redirect=/home.php?path=project/dream-weaver\&sid='+user.session_id">Logout</a>
        </section>
      </div>
    <script language="javascript" type="application/javascript">
      var app= new Vue({
        el:'#usrMenu',
        data:{
          user: []
        },
        created(){
          fetch('../../../../php/user.php?action=getname')
          .then(response => response.json())
          .then(json => {
            this.user = json
          });
        }
      });
    </script>
    <div class="row scene">
      <div id="End" class="panel-home" style="background-image: url('../../images/backgrounds/heartseeds/yui_broken.png')">
        <div class="choice">
          <ul data-toggle="tooltip" data-html="true" title="Make your choice again! This choice will <strong>not</strong> be saved!">
            <li>I was surprised that my mom told me to go to my room...</li>
            <li><a href="./ep3a.html" class="btn btn-primary">Go upstairs and sulk</a></li>
            <li><a href="./ep3b.html" class="btn btn-primary">Push passed them and head outside</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->
  </section>
  </body>
<!-- InstanceEnd --></html>